* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #4356b2;
}

body {
  background-color: var(--bg-color);
}

.email {
  max-width: 70rem;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  margin-top: 9rem;
  font-size: 50px;
  text-decoration: none;
  color: var(--main-color);
  padding: 3rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  margin-top: 3rem;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 450px) {
  .email {
    width: 90vw;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
    font-size: 2.6rem;
    min-height: auto;
  }
}
